body {
  background-image: url('../img/background.jpg');
}

#name {
  font-size: 120px;
  text-align: center;
}

#bio {
  font-family: 'Josefin Slab', serif;
  color: #000000;
}

#photo {
  width: 500px;
  height: 450px;
  border-radius: 1000px;
  margin: auto;
  background-image: url('../img/self.png');
  align-self: center;
}

#git {
  padding-left: 25px;
}

.navbar {
  background-color: #0D206D;
}

.technologies {
  padding-bottom: 25px;
}

#email {
  font-size: 25px;
}

#linkedin {
   padding-right: 10px;
}