body {
  background-image: url('../img/background.jpg');
}

#name {
  font-size: 120px;
  text-align: center;
}

#bio {
  font-family: 'Josefin Slab', serif;
  color: #000000;
}

#text {
  border-width: 2px;
  border: solid;
}

.about {
  font-size: 30px;
  text-align: center;
  color: #000000;
  opacity: 0.4;
  filter: alpha(opacity=40);
  background-color: #3E3E3E;
  padding: 10%;
}

.about:hover {
    opacity: .95;
    filter: alpha(opacity=95); /* For IE8 and earlier */
}

#photo {
  width: 500px;
  height: 450px;
  border-width: 2px;
  border: solid;
  margin: auto;
  background-image: url('../img/self.jpg');
  align-self: center;

}

#git {
  padding-left: 25px;
}

.navbar {
  background-color: #0D206D;
}

.technologies {
  padding-bottom: 25px;
}

#email {
  font-size: 25px;
}

#linkedin {
   padding-right: 10px;
}